.container{
    margin-left: 25%;
    margin-right: 25%;
    // margin-top: 10%;
    padding: 20px;
    background-color: rgb(238, 238, 238);
    border-radius: 6px;
}

.inputContainer{         
    text-align: center;
}

.inputFeild{
    border-radius: 6px;
    border: 2px solid rgb(129, 199, 23);
    width: 80%;
    padding: 6px 20px;
    margin: 10px;
}

.listContainer{
    display: inline;
    // padding: 45px;
}